body {
  border: 1px solid gray;
  box-sizing: border-box;
  border-width: 0 1px;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 700px;
  min-height: 100vh;
  padding: 2rem;
}

input {
  /* background-color: lightgray; */
  border: 1px solid lightgray;
  color: black;
  padding: 10px 10px;
  text-align: left;
  font-size: 2rem;
  margin: auto;
}

button {
  background-color: lightgray;
  border: 1px solid lightgray;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: auto;
}

ul {
  padding: 0;
}

ul li {
  border: 1px solid lightyellow;
  background-color: lightyellow;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  list-style-type: none;
}

ul button {
  background-color: lightgray;
  border: none;
  border-radius: 2px;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  float: right;
}

.done {
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
  text-decoration: line-through;
}
